Repository mruizgl/canary-trails, pull requests merged in 2025-05, with the labels that each got.

#136 1 documentar el proyecto en el readmemd
  README.md
  code/AppCanaryTrails/README.md
  code/CanaryTrailsAPI/pom.xml
  code/CanaryTrailsAPI/readme.MD
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/ruta/RutaFavoritaControllerV3Test.java
  documentation/anteproyecto/diagrama-caso-uso/empty.txt
  documentation/anteproyecto/diagrama-caso-uso/use-case.png
  documentation/anteproyecto/diagrama-de-clases/empty.txt
  documentation/anteproyecto/diagrama-paquetes/empty.txt
  documentation/anteproyecto/diagrama-paquetes/paquete1.png
  documentation/anteproyecto/diagrama-paquetes/paquete2.png
  documentation/anteproyecto/image.png
  documentation/anteproyecto/readme.MD
  documentation/designs/Home.png
  documentation/designs/Municipios_y_zonas_de_Tenerife.png
  documentation/designs/Profile.jpeg
  documentation/designs/Routes&Games.jpeg
  documentation/designs/Search_Routes.png
  documentation/designs/cobertura.png
  documentation/designs/paleta-1.png
  documentation/designs/resources/portada-1.jpg
  documentation/designs/resources/portada-cc.jpg
  documentation/diagrams/README.md
  documentation/diagrams/entity-relation.jpg
  documentation/documentacion-de-codigo.MD
  documentation/documentacion-de-diseno.MD
  documentation/manual-de-uso.MD
  documentation/manual-de-usuario.MD
Labels: documentation

#138 133 terminar todas las pantallas de la app
  code/AppCanaryTrails/src/context/AppContext.tsx
  code/AppCanaryTrails/src/globals/Types.ts
  code/AppCanaryTrails/src/navigations/PrincipalTabNavigation.tsx
  code/AppCanaryTrails/src/navigations/components/RutaCard.tsx
  code/AppCanaryTrails/src/navigations/stack/HomeStack.tsx
  code/AppCanaryTrails/src/navigations/stack/ProfileStack.tsx
  code/AppCanaryTrails/src/navigations/stack/SearchRoutesStack.tsx
  code/AppCanaryTrails/src/screens/EditPerfil.tsx
  code/AppCanaryTrails/src/screens/Example.old.tsx
  code/AppCanaryTrails/src/screens/Home.tsx
  code/AppCanaryTrails/src/screens/InfoPerfil.tsx
  code/AppCanaryTrails/src/screens/InfoRuta.tsx
  code/AppCanaryTrails/src/screens/Perfil.tsx
  code/AppCanaryTrails/src/screens/RutasRecomendadas.tsx
  code/AppCanaryTrails/src/screens/SearchRutas.tsx
  code/AppCanaryTrails/src/screens/auth/Login.tsx
  code/AppCanaryTrails/src/screens/auth/Register.tsx
  code/AppCanaryTrails/src/screens/auth/Success.tsx
  code/CanaryTrailsAPI/images/fauna/emos.jpg
  code/CanaryTrailsAPI/images/fauna/empty.file
  code/CanaryTrailsAPI/images/fauna/fauna_default.jpg
  code/CanaryTrailsAPI/images/flora/emos.jpg
  code/CanaryTrailsAPI/images/flora/empty.file
  code/CanaryTrailsAPI/images/flora/flora_default.jpg
  code/CanaryTrailsAPI/images/ruta/emos.jpg
  code/CanaryTrailsAPI/images/ruta/empty.file
  code/CanaryTrailsAPI/images/usuario/emos.jpg
  code/CanaryTrailsAPI/images/usuario/empty.file
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/config/SecurityConfiguration.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/config/WebConfig.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/controller/v2/RutasFavoritasControllerV2.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/controller/v3/RutasFavoritasControllerV3.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/dto/flora/FloraSalidaDto.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/dto/ruta/FaunaSalidaRutaDto.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/dto/ruta/FloraSalidaRutaDto.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/repository/RutaRepository.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/security/JwtFilter.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/service/RutaService.java
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/service/UsuarioService.java
  code/CanaryTrailsAPI/src/main/resources/application.properties
  code/CanaryTrailsAPI/src/main/resources/canary_trails.sql
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/flora/FloraControllerV2Test.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/flora/FloraControllerV3Test.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/ruta/RutaControllerV2Test.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/ruta/RutaControllerV3Test.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/ruta/RutasFavoritasControllerV2Test.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/usuario/UsuarioControllerV2Test.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/controller/usuario/UsuarioControllerV3Test.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/mapper/RutaMapperTest.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/service/RutaServiceTest.java
  code/CanaryTrailsAPI/src/test/java/es/iespuertodelacruz/mp/canarytrails/service/UsuarioServiceTest.java
Labels: code

#142 141 refactorizar app para el uso de hooks
  code/AppCanaryTrails/src/components/Comentario.tsx
  code/AppCanaryTrails/src/components/Fauna.tsx
  code/AppCanaryTrails/src/components/Flora.tsx
  code/AppCanaryTrails/src/components/Ruta.tsx
  code/AppCanaryTrails/src/components/RutaCard.tsx
  code/AppCanaryTrails/src/components/RutaCardSmall.tsx
  code/AppCanaryTrails/src/context/AppContext.tsx
  code/AppCanaryTrails/src/hooks/useRutas.tsx
  code/AppCanaryTrails/src/hooks/useUsuario.tsx
  code/AppCanaryTrails/src/screens/Home.tsx
  code/AppCanaryTrails/src/screens/InfoRuta.tsx
  code/AppCanaryTrails/src/screens/Perfil.tsx
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/controller/v2/RutasFavoritasControllerV2.java
Labels: enhancement, code

#144 feat(profile): Se añade la lista de rutas favoritas
  code/AppCanaryTrails/src/hooks/useUsuario.tsx
  code/AppCanaryTrails/src/navigations/stack/ProfileStack.tsx
  code/AppCanaryTrails/src/screens/Home.tsx
  code/AppCanaryTrails/src/screens/Perfil.tsx
  code/AppCanaryTrails/src/screens/RutasFavoritas.tsx
  code/AppCanaryTrails/src/screens/SearchRutas.tsx
Labels: code

#155 146 panel de administrador v2
  code/CanaryTrailsAPI/readme.MD
  code/CanaryTrailsAPI/src/main/java/es/iespuertodelacruz/mp/canarytrails/config/SecurityConfiguration.java
  code/CanaryTrailsAPI/src/main/resources/application.properties
  code/cliente-admin/.gitignore
  code/cliente-admin/README.md
  code/cliente-admin/package-lock.json
  code/cliente-admin/package.json
  code/cliente-admin/public/favicon.ico
  code/cliente-admin/public/index.html
  code/cliente-admin/public/logo192.png
  code/cliente-admin/public/logo512.png
  code/cliente-admin/public/manifest.json
  code/cliente-admin/public/robots.txt
  code/cliente-admin/src/App.css
  code/cliente-admin/src/App.test.tsx
  code/cliente-admin/src/App.tsx
  code/cliente-admin/src/api/authApi.ts
  code/cliente-admin/src/components/LoginForm.tsx
  code/cliente-admin/src/components/PrivateRoute.tsx
  code/cliente-admin/src/context/AuthContext.tsx
  code/cliente-admin/src/index.css
  code/cliente-admin/src/index.tsx
  code/cliente-admin/src/logo.svg
  code/cliente-admin/src/pages/DashboardPage.tsx
  code/cliente-admin/src/pages/LoginPage.tsx
  code/cliente-admin/src/react-app-env.d.ts
  code/cliente-admin/src/reportWebVitals.ts
  code/cliente-admin/src/setupTests.ts
  code/cliente-admin/src/styles/DashboardPage.css
  code/cliente-admin/src/styles/LoginPage.css
  code/cliente-admin/src/types/UsuarioTypes.ts
  code/cliente-admin/src/utils/authFetch.ts
  code/cliente-admin/tsconfig.json
Labels: code

#158 feat: se añade crud de flora y fauna
  code/cliente-admin/src/App.tsx
  code/cliente-admin/src/pages/DashboardPage.tsx
  code/cliente-admin/src/pages/FaunaAdminPage.tsx
  code/cliente-admin/src/pages/FloraAdminPage.tsx
  code/cliente-admin/src/styles/DashboardPage.css
  code/cliente-admin/src/styles/FloraAdminPage.css
Labels: code

#163 162 panel administrativo v3
  code/CanaryTrailsAPI/images/fauna/Gallotiagalloti-kO0F--1248x698@abc.jpg
  code/CanaryTrailsAPI/images/fauna/unnamed.webp
  code/CanaryTrailsAPI/images/flora/0_Ttvuz_iYI8JZOQ1i.png
  code/CanaryTrailsAPI/images/flora/1718957088352.png
  code/CanaryTrailsAPI/images/flora/8fbb098201abf924e04dc65b7f490427.jpg
  code/CanaryTrailsAPI/images/flora/Pinus_canariensis_-_Pico_Birigoyo_-_La_Palma_02.jpg
  code/CanaryTrailsAPI/images/flora/Pinus_canariensis_-_Pico_Birigoyo_-_La_Palma_02_1.jpg
  code/CanaryTrailsAPI/images/flora/Screen_Shot_2021-05-10_at_5.53.31_PM.webp
  code/CanaryTrailsAPI/images/flora/cropped-logotipo-fondo-transparente1.png
  code/CanaryTrailsAPI/images/flora/cropped-logotipo-fondo-transparente1_1.png
  code/CanaryTrailsAPI/images/flora/flat,750x,075,f-pad,750x1000,f8f8f8.u1_1.jpg
  code/CanaryTrailsAPI/images/flora/unnamed.webp
  code/CanaryTrailsAPI/images/ruta/0_Ttvuz_iYI8JZOQ1i.png
  code/CanaryTrailsAPI/images/ruta/Gallotiagalloti-kO0F--1248x698@abc.jpg
  code/CanaryTrailsAPI/images/ruta/flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg
  code/CanaryTrailsAPI/images/ruta/unnamed.webp
  code/CanaryTrailsAPI/images/ruta/unnamed_1.webp
  code/cliente-admin/package-lock.json
  code/cliente-admin/package.json
  code/cliente-admin/src/App.tsx
  code/cliente-admin/src/pages/CrearFaunaPage.tsx
  code/cliente-admin/src/pages/CrearFloraPage.tsx
  code/cliente-admin/src/pages/CrearRutaPage.tsx
  code/cliente-admin/src/pages/DashboardPage.tsx
  code/cliente-admin/src/pages/EditarFaunaPage.tsx
  code/cliente-admin/src/pages/EditarFloraPage.tsx
  code/cliente-admin/src/pages/EditarRutaPage.tsx
  code/cliente-admin/src/pages/EstadisticasPage.tsx
  code/cliente-admin/src/pages/FaunaAdminPage.tsx
  code/cliente-admin/src/pages/FloraAdminPage.tsx
  code/cliente-admin/src/pages/RutaAdminPage.tsx
Labels: code
